<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>My App</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>DontForget</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>DontForget</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>diary</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>diary</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>events</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>events</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>map</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>map</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>news</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>news</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>reminder</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>reminder</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>reminder</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>0e6e99290fbd32a6ac5ee5326bc07e65953c91b8</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Capture Images</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>My App would like to access your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>My App would like to access your location</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Use Photos</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCompose</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Email Reminders</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.tringapps.slideoutanimation.emaiReminders</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeDate</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Scheduled Events</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.tringapps.slideoutanimation.scheduled</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAdd</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Add Events</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.tringapps.slideoutanimation.add</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
